.carousel__content {
  padding: 20px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 900px;
}

.item {
  position: absolute;
  width: 300px;
  height: 400px;
  transition: transform 0.5s, opacity 0.5s;
}

.img__card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Efecto para la imagen seleccionada */
.selected {
  transform: scale(1.2);
  z-index: 2;
}

/* Efecto para imágenes no seleccionadas */
.not-selected {
  filter: brightness(0.5) opacity(0.7);
  transform: scale(1);
  z-index: 1;
}

/* Estilos para los botones */
.buttons__groups {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.navinput {
  width: 20px;
  height: 20px;
  background-color: gray;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.navinput.active {
  background-color: rgb(90, 90, 90);
}