/*Seccion de texto*/
.sobre-mi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentacion {
  position: relative;
  margin-top: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  gap: 25px;
  transition: all 0.8s ease;
}

.image-side {
  flex: 0 0 35%; 
  height: auto; 
  object-fit: cover;
}

.text-side {
  flex: 1;
  padding-top: 60px;
  text-align: right;
}

.text-side p {
  font-family: "CenturyGothic";
  font-size: 20px;
}

.promotion {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  text-align: center;
  overflow: hidden;
}

.promotion p {
  font-size: 20px;
  font-family: "CenturyGothicBold"!important;
  font-weight: 700;
}

/* Tablets */
@media (max-width: 991.98px) {
  .sobre-mi {
    gap: 20px;
  }
  .presentacion {
    margin-top: 0%;
  }
  .image-perfil {
    width: 300px;
  }
  .text-side {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .presentacion {
    flex-direction: column;
    margin-top: -5%;
    padding-bottom: 10px;
  }
  .image-perfil {
    width: 100%;
  }
  .text-side {
    padding-top: 0%;
    text-align: center;
  }
  .promotion {
    flex-direction: column-reverse;
    gap: 20px;
    padding-top: 0;
  }
}

/* Teléfonos */
@media (max-width: 575.98px) {
  .presentacion {
    margin-top: -12%;
  }
}
