.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  flex: 1;
  padding: 1rem;
  z-index: -2;
}

.grid-item.normal {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.grid-item.big {
  grid-column: span 2;
  grid-row: span 2;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 768px) {
  .gallery-grid {
  grid-template-columns: repeat(2, 1fr);
}
}