@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italianno&display=swap');
.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}
.archivo-black-regular {
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('./CenturyGothic.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothicBold';
  src: url('./GOTHICB.TTF') format('ttf');
  font-weight: bold;
  font-style: normal;
}