/*Seccion de imagen*/
main {
  margin-top: 86px !important;
}
.imagen-principal {
  position: relative; /* Contexto para la superposición */
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  height: 80vh; /* Ocupa el 80% de la altura de la pantalla */
  overflow: hidden; /* Evita cualquier desbordamiento */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  height: 100%; /* Ocupa todo el alto */
  object-fit: cover; /* Cubre todo el contenedor manteniendo proporciones */
}

.overlay-image {
  position: absolute;
  top: 45%;
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%);
  width: 80vw; /* Tamaño dinámico más grande basado en el ancho de la ventana */
  max-width: 900px; /* Límite máximo para pantallas grandes */
  min-width: 250px; /* Límite mínimo para pantallas pequeñas */
  height: auto; /* Mantiene la proporción de la imagen */
}

.text-below-rigth {
  position: absolute;
  color: white;
  bottom: 8%; /* Ajusta la posición vertical */
  right: 10%; /* Ajusta la posición horizontal */
  font-size: 34px;
}

/* Media Queries para personalizar en pantallas específicas */
@media (max-width: 1024px) {
  .background-image {
    height: 500px;
  }
  .overlay-image {
    top: 38%;
    width: 70vw; /* Más grande en pantallas medianas */
    max-width: 800px;
  }

  .text-below-rigth {
    bottom: 24%;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .background-image {
    height: 370px;
  }
  .overlay-image {
    top: 28%;
    width: 70vw; /* Más grande en pantallas pequeñas */
    max-width: 600px;
  }

  .text-below-rigth {
    bottom: 44%;
    font-size: 20px;
  }
}

@media (max-width: 564px) {
  .background-image {
    height: 300px;
  }
  .overlay-image {
    top: 24%;
    width: 80vw; /* Más grande en pantallas pequeñas */
    max-width: 600px;
  }

  .text-below-rigth {
    bottom: 54%;
    font-size: 18px;
  }
}

/*Seccion de texto*/

.presentacion {
  position: relative;
  margin-top: -3%;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  gap: 25px;
}

.image-side {
  flex: 0 0 35%;              /* La imagen ocupa un 35% del contenedor */
  height: auto;                 /* Mantiene la proporción de la imagen */
  object-fit: cover;            /* Cubre el espacio sin deformarse */
}

.text-side {
  flex: 1;   
  padding-top: 60px;
  text-align: right;
}

.text-side h1 {
  font-size: 60px;
  text-shadow: 2px 2px 4px #00000083;
}

.text-side p {
  font-family: "CenturyGothic";
  font-size: 20px;
}

.promotion {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
}

.text-side .promotion p {
  flex: 0 0 50%;  
  font-family: "CenturyGothicBold";
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
}